/*
 * Initialisation
 */

html, body {    
  overflow-x: hidden;
}
html {
  // Always show the scrollbar, to minimise jumping in animations
  overflow-y: scroll;
}

// Stack the slides on top of each other
.page-container.transition-load,
.page-container.transition-in,
.page-container.transition-out {
  position: absolute;
  overflow: hidden; // Workaround for issues while scrolling during animations
  width: 100%;
  height: 100%;
  top: 0;
}

/*
 * Policy landing page transitions
 */

 .page-container[data-namespace="policy-landing"] {
   #content {
     z-index: 20;
   }
 }
.page-container[data-namespace="policy-landing"] {
  &.transition-load {
    .view-header {
      opacity: 0;
      transition: 1s ease-out opacity;
    }
    // animation: loading 0s; // Required to continue the animation chain
  }
  &.transition-in {
    // Handled by menu sliding in
  }
  &.transition-out {
    #content {
      animation: fade-out 0.5s both;
    }
  }
}
/*
 * Policy content transitions
 */

.page-container[data-namespace="policy-content"] {
  &.transition-load,
  &.transition-in {
    #main #content-nav .book-navigation .page-menu {
      transition: none !important;
      span.toggle-text:before {
        transition: none !important;
      }
    }
  }  
  &.transition-load {
    // Fix for iOS or Safari not recognising animation had changed
    animation: loading 0.01s both;
    // #content {
    //   animation: fade-out 0.5s both;
    // }
  }
  &.transition-out {
    position: absolute;
    animation-fill-mode: both;
    #content {
     .addthis_inline_share_toolbox_wmxb {
      opacity: 0;
      display: none;
      transition: none;
     }      
     animation: fade-out 1s ease-out; 
    }
    #footer {
      opacity: 0;
      transition: 1s opacity ease-out;
    }
    #content-nav,
    header {
      animation: fade-out 1s both;
    }
    // With prefectching, this transition works well here, instead of transition-load
    &.transition-next #content {
      transform: translateY(100%);
      animation: slide-out-up 1s both;
    }
    &.transition-previous #content {
      transform: translateY(-100%);
      animation: slide-out-down 1s both;
    }
  }
  &.transition-in {
    animation: fade-in 1s both;
    #content {
      transform: translateY(100%);
      animation: slide-in-up 1s both;
    }
    &.transition-next #content {
      transform: translateY(100%);
      animation: slide-in-up 1s both;
    }
    &.transition-previous #content {
      transform: translateY(-100%);
      animation: slide-in-down 1s both;
    }
  }
  @include breakpoint(l) {
    &.transition-load {
      #content {
        animation: loading 0s;
      }
    }    
    &.transition-out {
      transform: translateY(0);
      &.transition-next #content {
        transform: translateX(100%);
        animation: slide-out-left 1s both;
      }
      &.transition-previous #content {
        transform: translateX(-100%);
        animation: slide-out-right 1s both;
      }
    }
    &.transition-in {
      animation: fade-in 1s both;
      #content {
        transform: translateX(100%);
        animation: slide-in-left 1s both;
      }
      &.transition-next #content {
        transform: translateX(100%);
        animation: slide-in-left 1s both;
      }
      &.transition-previous #content {
        transform: translateX(-100%);
        animation: slide-in-right 1s both;
      }
    }
  }
}




/*
 * Homepage transitions
 */

#block-bean-read-the-white-paper,
#block-bean-foreign-policy-in-practice {
  transform: translateZ(0); // translateZ to force layer creation, prime for animation
  will-change: transform, opacity; // Letting the browser know we intend to change these properties
}

.page-container[data-namespace="front"] {
  &.transition-load.transition-front,
  &.transition-out.transition-front,
  &.transition-in.transition-front {
    animation: loading 0s;
  }
  &.transition-load.transition-front-paper {
    #header {
      transition: all 1s ease;
      opacity: 0;
    }
    #block-bean-read-the-white-paper {
      height: 100vh;   
      transition: all 1s ease;
      &:before {
        transform: scaleX(1.5) translateX(55%) skewX(-2.5deg);
        transition: transform 1s ease;
      }
      &:after {
        transform: scale(1.1) translateX(0);
      }      
      .bean-basic {
        transition: all 1s ease;
        opacity: 0;      
      }       
      #content {
        transition: opacity 0.25s ease;
        animation: fade-out 10.25s both;
      }
    }
    #block-bean-foreign-policy-in-practice {
      height: 100vh;
      transform: translateX(100%);
      transition: all ease 1s;
    }
  }
  &.transition-load.transition-front-policy {
    #block-bean-read-the-white-paper {
      transform: translateX(-110%);
      height: 100vh;
      transition: all ease 1s;
    }
    #block-bean-foreign-policy-in-practice {
      height: 100vh;
      transition: all ease 1s;
      &:before {
        transform: scale(1.2);
        transition: all ease 1s;
      }
      #content {
        transition: opacity 0.25s ease;
        animation: fade-out 10.25s both;
      }
    }
    .youtube.youtube-embed-processed,
    #header {
      animation: fade-out 1s both;
    }    
  }
  &.transition-out.transition-front-policy {
    #block-bean-foreign-policy-in-practice {
      z-index: 30;
      background: none !important;
      transition: opacity 0.5s ease;
      animation: fade-out 0.5s both;
      &:before,
      &:after {
        display: none;
      }
    }
  }
  &.transition-out.transition-front-paper {
    animation: loading 0s;
  }
}

/*
 * Case study landing transitions
 */

.page-container[data-namespace="case-landing"] {
  #content-header {
    animation-delay: .5s;
    transition: transform 2s ease, opacity 2s ease;
    transform: translateY(10%);
    animation: shift-in-up 2s both;
  }
  &.transition-load {
    animation: loading 0s;
    .view-header {
      opacity: 0;
    }    
  }
  &.transition-in {
    #content-header {
      transform: translateY(10%);
      animation: shift-in-up 2s both;
    }
  }
  &.transition-out {   
    // @TODO this doesn't animate currently, for some reason
    #main {
      // transition: opacity 1s ease;
      animation: fade-out 1s both;
    }
  }
}


/*
 * Keyframes
 * Opacity and transform only, for performance
 */

@keyframes loading {
  from {
    opacity: .9999;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-out-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-200vh);
    opacity: 0;
  }
}

@keyframes slide-out-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(200vh);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shift-in-up {
  // less movement than sliding
  from {
    transform: translateY(10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    // opacity: 0;
  }

  to {
    transform: translateX(0);
    // opacity: 1;
  }
}

@keyframes slide-in-left-2 {
  from {
    transform: translateX(102%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


// For the homepage mask
@keyframes mask-paper-hover {
  from {
    transform: scaleX(1) translateX(0%) skewX(-0deg);
  }
  to {
    transform: scaleX(1.2) translateX(-5%) skewX(-2.5deg);
  }
}

@keyframes mask-paper-click {
  from {
    transform: scaleX(1.2) translateX(-5%) skewX(-2.5deg);
  }
  to {
    transform: scaleX(1.2) translateX(0%) skewX(0deg);
    height: 100vh;
    width: 100vw;
  }
}

@keyframes mask-learn-click {
  from {
    transform: scaleX(1.2) translateX(5%) skewX(2.5deg);
  }
  to {
    transform: scaleX(1.2) translateX(5%) skewX(0deg);
    height: 100vh;
  }
}