//.not-front.node-type-policy {
.page-container[data-namespace="policy-content"] {

  header.header {
    #block-search-api-page-default-search  {
      border-left: 1px solid $grey;
      input[type="text"] {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        color: $black;
        -webkit-text-fill-color: $black;
      }
    }
    input {
      caret-color: $purple-dark;
    }
    textarea {
      color: $purple-dark;
      text-shadow: 0px 0px 0px $purple-dark;
      -webkit-text-fill-color: transparent;
    }
  }
  #main {
    color: $purple-dark;
    position: relative;
    #content {
      box-sizing: border-box;
      margin: 0 0 0 40%;
      padding: rem(297) rem(30) 0 rem(192);
      right: 0;
      width: 60%;
      .addthis_inline_share_toolbox_wmxb {
        position: fixed;
        width: 50px;
        left: 41vw;
        top: 24rem;
        z-index: 10;
        opacity: 0;
        animation: fade-in 1s ease both;
        .at-icon-wrapper,
        .at-share-btn .at-icon {
          background: transparent !important;
          width: 25px !important;
          height: 25px !important;
          margin: 0;
        }
        @media (max-height: 850px) {
          position: static;
          height: auto;
          min-height: inherit;
          width: auto;
          z-index: initial;
          ul li {
            display: inline-block;
          }
        }
        @include breakpoint(l) {
          position: static;
          height: auto;
          min-height: inherit;
          width: auto;
          z-index: initial;
          ul li {
            display: inline-block;
          }
        }
        ul,
        li {
          list-style: none;
          padding: 0;
          margin: 0;
          &:before {
            display: none;
          }
        }
        a:focus {
          @include base-outline;
        }

      }
      @include breakpoint(xxl) {
        padding-top: rem(120);
        padding-right: rem(30);
      }
      #content-header {
        padding: 0;
        max-width: 760px;
        &::before {
          background: none;
        }
        h1 {
          color: $purple-dark;
          @include gradient-border;
          &::after {
            display: block;
            margin: 2rem 0;
            width: rem(60);
          }
        }
        .breadcrumb {
          padding: 2rem 0 1rem 0;
          li {
            color: $grey;
          }
          a {
            color: $grey;
            font-size: rem(11);
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            &:first-child {
              font-weight: $semibold;
            }
            &:hover {
              border-color: black;
            }
          }
        }
      }
      #content-header-fields {
        text-align: left;
        margin-left: 0;
      }
      .field-items {
        font-family: $paragraph;
        font-weight: $light;
      }
    }
    #content-nav {
      @include absolute(left 40% top 0);
      width: 11rem;
      height: 100%;
      z-index: 1;
      .book-navigation {
        height: 100%;
        position: relative;
        .page-links {
          border: 0;
          position: relative;
          height: 100%;
          box-sizing: border-box;
        }
        a {
          color: $purple-dark;
          font-family: $sans;
          font-weight: $semibold;
          font-size: rem(14);
          text-align: left;
          outline: 0;
        }
        .page-next,
        .page-previous,
        .page-menu {
          width: auto;
          float: none;
          @include absolute(left);
          &:active {
            outline: none;
          }
        }
        .page-next,
        .page-previous {
          line-height: 1.4;
          padding-left: rem(25);
          &::before {
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            filter: drop-shadow(0px 10px 12px rgba($black,.5));
            display: inline-block;
            @include absolute(left -25px);
            width: rem(46);
            height: rem(46);
          }
          &::after {
            content: "";
            background: url('../images/icon-page-arrow2.png') no-repeat;
            background-size: cover;
            display: block;
            @include absolute(top -2rem left 2.5rem);
            transform: translateX(-75%);
            width: rem(25);
            height: rem(25);
          }
          &:hover {
            text-decoration: none;
            color: $grey;
            &::after {
              background-image: url('../images/icon-page-arrow3.png');
            }
          }
        }
        .page-previous {
          top: rem(200);
        }
        .page-next {
          bottom: rem(64);
          &::after {
            top: auto;
            bottom: -2rem;
            transform: translateX(-75%) rotate(180deg);
          }
        }
        .page-menu {
          position: fixed;
          top: 315px;
          left: calc(40% - 60px);
          background: url('../images/icon-contents.jpg') no-repeat left top;
          height: rem(46);
          text-indent: -9999px;
          transition: .5s ease all;
          text-decoration: none;
          span {
            text-indent: 0;
            display: block;
            @include absolute(top 0 bottom 0);
            position: relative;
            margin-left: rem(60);
            padding: rem(10) rem(10);
            box-sizing: border-box;
            text-transform: uppercase;
            font-size: .75rem;
            letter-spacing: 0.02rem;
            &:before {
              display: block;
              @include absolute(left 0 top 0);
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); // force hardware acceleration to prevent image flicker on hover
              content: "";
              width: 0;
              height: rem(46);
              background: #feb501;
              z-index: -1;
              transition: .3s ease all;
              @include breakpoint(l) {
                display: none;
              }
            }
          }
          &:hover {
            span:before {
              width: 100%;
            }
          }
          @include breakpoint(m) {
            left: calc(20% - 60px);
            right: calc(80% - 75px);
          }
        }
      }
    }
    #content-left {
      position: fixed;
      left: 0;
      top: 0;
      width: 40vw;
      width: 40%;
      height: 100vh;
      background: $purple; // Before the picture has loaded
      .field-type-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        &:after {
          @include absolute(top left);
          display: block;
          background: linear-gradient(rgba($black,0.6) 10%, rgba($black,0) 50%);
          mix-blend-mode: multiply;
          content: "";
          height: 100%;
          width: 100%;
        }
      }
      img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    #content-body {
      margin: 10px auto 150px;
      width: calc(100% - 4rem);
      max-width: 760px;
      margin-left: 0;
      article a:not(.at-share-btn) {
        text-decoration: none;
        color: $grey;
        border-bottom: 1px solid rgba($purple,.2);
        padding-bottom: 1px;
        &:hover {
          color: $purple;
          border-color: $purple;
        }
      }
      blockquote {
        margin: 1.5em 0;
      }
      .chart__table,
      .figure-description-screen-reader {
        // hide all sr-only tables //
        @include element-invisible;
      }
      .media-element-container {
        // resets img styling for custom infographics //
        img {
          border: none;
        }
        .field-name-field-image-caption {
          // counter the container's width to appear inline with rest of text //
          max-width: calc(80% + 15px);
          margin: auto;
        }
      }
      .field-name-field-chart-source .field-items p,
      .field-name-field-chart-notes .field-items p {
        display: inline;
        font-size: rem(12);
        line-height: 1.5rem;
        font-style: normal;
        font-weight: 300;
        color: $purple-light-grey;
      }
    }
    @include breakpoint(l) {
      #content,
      #content-nav,
      #content-left {
        margin: 0 auto;
        position: relative;
        width: 100vw;
        width: 100%;
      }
      #content {
        -webkit-order: 2;
        order: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;        
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        background: white;
        z-index: 1;
        padding: 70px 50px 50px;
        margin: rem(200) auto 0;
        max-width: 90vw;
      }
      #content-header {
        margin: auto;
        text-align: center;
        width: 100%;
        margin: 0 auto;       
        #content-header-fields h1 {
          text-align: center;
          &:after {
            margin: 2rem auto;
          }
        }
      }
      #content-body {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        @include content-body-shadows;
        &:before,
        &:after {
          top: 17rem;
        }
      }
      #content-body .chart.chart__type-map .field-name-field-chart-id {
        max-width: none;
        width: 100%;
        margin: auto;
      }
      #content-left {
        position: absolute;
        height: 500px;
      }
    }
    @include breakpoint(s) {
      #content {
        top: 15px;
      }
    }
    @include breakpoint(xs) {
      #content,
      #content-nav {
        max-width: none;
        padding: 25px;
      }
      #content-header {
        text-align: left;
        margin-left: 0;
        #content-header-fields h1 {
          text-align: left;
          &:after {
            margin: 2rem 0;
          }
        }
      }
      #content {
        top: 0;
        padding-top: 50px;
      }
      #content-body {
        article {
          padding: 0;
        }
        &:before,
        &:after {
          display: none;
        }
      }
      #content-nav {
        width: 100% !important;
        top: 187px !important;
        padding: 0 !important;
      }
      #content-nav .book-navigation .page-links .page-previous,
      #content-nav .book-navigation .page-links .page-next {
        width: 100%;
      }
    }
  }
}

@include breakpoint(l) {
  // workaround to not style the sldie out menu at this breakpoint
  body:not(.slideout-menu--show) .page-container[data-namespace="policy-content"] #main #content-nav {
    display: block;
    margin: 50px auto 50px;
    clear: both;
    -webkit-order: 1;
    order: 1;
    width: 90vw;
    box-sizing: border-box;
    z-index: 50;
    @include absolute(top 200px left right);
    margin: auto;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    .book-navigation {
      width: 100%;
      box-sizing: border-box;
      .page-menu {
        float: left;
        background: white;
        display: block;
        text-align: center;
        text-indent: 0;
        text-transform: uppercase;
        margin: auto;
        position: static;
        width: calc(100% - 100px);
        height: 50px;
        overflow: hidden;
        box-sizing: border-box;
        transition: none;
        span.toggle-text {
          padding: 12px 12px 12px 30px;
          display: block;
          text-align: center;
          position: static;
          margin: auto;
          height: 100%;
          width: 300px;
          background: white url('../images/icon-contents-white.jpg') no-repeat left top 6px;
          background-size: 45px;
          background-blend-mode: multiply;
          transition: none;
          @include breakpoint(xs) {
            width: 170px;
          }
        }
        &:hover,
        &:focus {
          transition: none; // transition is turned off so it doesn't show the transition when slideout menu is closes
          text-decoration: none;
          background-color: #e5e5e5;
          span.toggle-text {
            background-color: #e5e5e5;
          }
        }
      }
      .page-links {
        background-color: white;
        display: block;
        padding: 0;
        width: 100%;
        .page-previous,
        .page-next {
          bottom: 0;
          margin: 0;
          padding: 10px;
          position: relative;
          top: 0;
          width: 50px;
          height: 50px;
          box-sizing: border-box;
          @include hide-text;
          // transition: .2s ease-out background;
          &:hover,
          &:focus {
            background-color: #e5e5e5;
          }
          &::before {
            display: none;
          }
          &::after {
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .page-previous {
          float: left;
          &::after {
            top: auto;
            transform: translateY(-50%) rotate(-90deg);
          }
        }
        .page-next {
          float: right;
          &::after {
            top: auto;
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
    }
  }
}

.node-type-policy.search-block-form--show .header-wrapper .region-navigation #block-search-api-page-default-search .toggle-wrapper a:first-of-type {
  background-image: url('../images/icon-close-black.png');
}

.field-name-field-chart-id {
  z-index:  50;
  position: relative;
}

/*
* Minister page styling
*/
.signature {
  display: inline-block;
  padding-right: 3rem;
}

.profile-image {
  .media-element-container {
    margin: auto;
    margin-left: 0;
    max-width: 300px;
    text-align: left;
  }
  tr,
  td {
    border-bottom: none;
    padding-left: 0;
    vertical-align: top;
  }
}
.mt-profile-image {
  width: inherit !important;
  margin: 0 .5rem .5rem 0;
  .media-element-container {
    margin: initial;
    max-width: 300px;
    text-align: left;
  }
  tr,
  td {
    border-bottom: none;
    padding-left: 0;
    vertical-align: top;
  }
}

// Fix issue in MS Edge only, where TOC button being clipped on transition
@supports (-ms-ime-align: auto) {
  .section-foreign-policy-white-paper #page {
    padding-left: 1px;
  }
}
